# Ignore file named `Uppgift*.js`
Uppgift1.js

#Ignore a pecific file


#Ignore all .txt files
*.txt

#Ignore folder name `private`
private/
Uppgifter

Inlämningsuppgift1.odt
package.json
Inlämnigsuppgift2.pdf
